* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background-color: #f8f8f8;
}

header {
  display: flex;
  width: 900px;
  margin: 0 auto;
  padding: 100px 50px 0 50px;
  background-color: #f8f8f8;
  font-size: 1.8rem;
}

header h1 {
  font-family: "Signika Negative", sans-serif;
  color: #e7cc53;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

/* Content */
.content {
  width: 900px;
  padding: 100px 50px 0 50px;
  margin: 0 auto;
  background-color: #f8f8f8;
}

.content h2 {
  font-family: "Poppins", sans-serif;
}

.bagian.satu {
  display: flex;
}

.bagian.satu img {
  width: 30%;
  height: 30%;
}

.bagian.satu h2 {
  margin: 90px 0 0 40px;
  font-size: 3rem;
}

.bagian.dua {
  padding: 50px;
}

.bagian.dua p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-style: 1rem;
}

.bagian.dua h3 {
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.bagian.dua ol {
  padding-left: 50px;
}

.bagian.dua ol li {
  font-family: "Poppins", sans-serif;
}

.bagian.dua img {
  width: 80%;
  margin-top: 2px;
  margin-bottom: 100px;
}

.bagian.tiga {
  font-family: "Poppins", sans-serif;
}

.bagian.tiga img {
  width: 70%;
  margin-left: 100px;
}

/* footer */
footer {
  width: 900px;
  text-align: center;
  background-color: #f8f8f8;
  margin: 0 auto;
  padding: 100px 50px 20px 50px;
  font-family: "Poppins", sans-serif;
}

footer h3 {
  color: #140438;
  font-size: 1.4rem;
}

footer h4 {
  margin-top: 50px;
}

.contact {
  display: flex;
  position: relative;
}

.contact .ig {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "Signika Negative", sans-serif;
  margin-left: 300px;
}

.contact .wa {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: "Signika Negative", sans-serif;
  margin-left: -20px;
  position: absolute;
  left: 500px;
}

.contact .ig img {
  width: 5%;
}

.contact .wa img {
  width: 7%;
}
